
body{
    background-color: lightblue;
}
h1  {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}
p   {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}
div {
    width: 100px;
    height: 100px;
    background-color:tomato;
}
.divTest{
    width: 25px;
    height: 25px;
    background-color:wheat;
}